body {
	background-color: red;
}

.rekenmachine {
	margin: 50px auto 50px auto;
	height: 300px;
	width: 275px;
	background-color: white;s
	padding-top: 1em;
	padding-bottom: 1em;
}

.getal, .cancel, .totaal {
	height:55px;
	width: 55px;	
	margin: 0.3em 0.3em;
	background-color: lightgrey;
	margin-left: 0.5em;
}

input {	
	margin: 0em auto 2em auto;

	width: 250px;
	height: 30px;
	display: block;
}